/*----------------------------------------------------------------------------- 

RAMA BASIC STYLES OF HTML DOCUMENT

Screen Stylesheet 

version:   	1.0 
date:      	07/27/11 
author:		freshline
email:     	support@version-four.com 
website:   	http://www.version-four.com
-----------------------------------------------------------------------------*/

/***********************
	-	BASICS 	-
***********************/
ol, ul { 
    list-style: none; 
}

a{
	text-decoration:none;
}

p{
	font-family: 'Open Sans', sans-serif;
	font-size:13px;
	color:#211e1c;
}

.hidden{
	visibility:hidden;
}
/**************************************
	-	THE BIG BANNER HOLDERS	-
**************************************/
.banner900x370{
	margin-top:0;
	margin-left:auto;
	margin-right:auto;
	width:590px;
	height:270px;
	padding:0; 	
	position:relative;
	z-index:5;
}
/**********************************************************
	-	CAPTION SETTINGS FOR THE PARADIGM SLIDER	-
**********************************************************/	

.creative_layer div{ position:absolute;}

.caption_black{
	font-family: 'Open Sans', sans-serif;
	font-size:30px;
	color:#fff;
	background-color:#211e1c;
	padding:20px;
	position:absolute;
	font-weight: 800;
	line-height:1;
}

.caption_black_22{
	font-family: 'Open Sans', sans-serif;
	font-size:22px;
	color:#fff;
	background-color:#211e1c;
	padding:20px;
	position:absolute;
	font-weight: 800;
	line-height:1;
}

.caption_black_noframe{
	font-family: 'Open Sans', sans-serif;
	font-size:28px;
	color:#211e1c;	
	position:absolute;
	font-weight: 800;
	line-height:1;
}

.caption_simple{
	font-family: 'Open Sans', sans-serif;
	font-size:13px;
	color:#211e1c;
	position:absolute;
	
}

.darkbutton{
	font-family: 'Open Sans', sans-serif;
	font-size:13px;
	color:#fff;
	position:absolute;
	background-color:#211e1c;
	padding:8px 20px 8px 20px;
	position:absolute;
	
}

.blackbox{
	background-color:#211e1c;
	width:192px;
	height:20px;
	position:absolute;
}

a:focus { 
    outline: none; 
}

.minicap{
	font-size:14px;
	font-weight: normal;
}

.smallcap{
	font-size:18px;
	font-weight: normal;
}

.largecap{
	font-size:32px;
}

.imagecap{
	position:absolute;
}

.nobg{
	background: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	text-shadow: #000 5px 5px 5px;
}






/*********************************************

	-	THE DEMO DESIGN ELEMENTS	-
YOU WILL NOT NEED THESE PARTS IN YOUR PROJECT
THE FOLLOWING CLASSES USED ONLY FOR THE PREIVEW

**********************************************/



/*****************************************
	-	THE EXAMPLE CONTAINERS	-
******************************************/	
.example2{
	margin-top:100px;
	width:100%;
}

.example2 p{
	width:660px;
	margin-top:30px;
}

.example3{
	margin-top:50px;
	width:100%;
}

.example4{
	width:910px;
	height:90px;
	padding:5px;
	background:#fff;
	margin-top:50px;
	-moz-box-shadow: 0px 0px 3px 0px rgba(2,48,59,0.15);
	-webkit-box-shadow: 0px 0px 3px 0px rgba(2,48,59,0.15);
	box-shadow: 0px 0px 3px 0px rgba(2,48,59,0.15);
}

.floatleft{
	float:left;
}



.bluetext{
	font-family: 'Open Sans', sans-serif;
	margin-top:10px;
	color:#16a8ca;
	font-size:13px;
}



.title{
	font-family: 'Open Sans', sans-serif;
	font-size:28px;
	color:#211e1c;
	font-weight: 800;
	line-height:1;
}

.smalltitle{
	
	font-size:18px;
	
}

/***********	SPACES	***************/
.space20{	margin-left:20px;}

.space40{margin-left:40px;}

.space50{	margin-left:50px;}

/***********	DIVIDERS	**************/
.divider{
	border-bottom:1px solid #16a8ca;
	width:100%;
	margin-top:50px;
	
}

.hordivider{
	border-right:1px solid #16a8ca;
	width:1px;
	height:250px;
	
	
}



.header{
	width:900px;
	height:72px;
	margin-left:auto;
	margin-right:auto;
	margin-top:30px;
}


.logocontainer{
	width:732px;
	height:72px;
	float:left;	
	position:relative;
}
.clear{
	clear:both;
}

.top-part{
	background:url(../images/bg.png) repeat-x;
	height:598px;
	width:100%;
	z-index:1;
	position:absolute;
	top:0px;
	left:0px;
}

.list{
	width:460px;
	margin-top:50px;
}

.list ul, .list ul li{
	list-style:none;
	margin:0px;
	padding:0px;
}

.list ul li{
	padding-left:20px;
	background:url(../images/star.png) no-repeat 0px 3px;
	font-family: 'Open Sans', sans-serif;
	font-size:13px;
	color:#211e1c;
	margin-bottom:2px;
	
}


/****************************
	-	BASIC DIVIDERS 	-
*****************************/
#small_divider {
	margin-top:8px;
}

#big_divider {
	margin-top:150px;
}
