/************************** Main Menu CSS ****************************/
nav {
	background:url(../images/menu_bg.png) no-repeat left top;
	width:940px;
	height:70px;
	float:left;
	line-height:70px;
	position:relative;
}
nav ul ul {
	display: none;
}
nav ul li:hover > ul {
	display: block;
}
nav ul {
	list-style: none;
	position: relative;
	display: inline-table;
	width:100%;
}
nav ul:after {
	content: "";
	clear: both;
	display: block;
}
nav ul li {
	float: left;
	float:left;
	line-height:37px;
	border-right:#919191 1px solid;
}
nav ul li:hover {
	color: #000000;
}
nav ul li:hover a {
	color: #000000;
}
nav ul li a {
	float:left;
	position:relative;
	font-family:"Myriad Pro";
	color:#ebebeb;
	line-height:40px;
	padding: 15px 35px;
	font-size:24px;
	text-transform:uppercase;
	font-weight:100;
}
nav ul ul {
	padding: 10px 10px 5px 10px;
	width:392px;
	z-index:20;
	background: #0A5278;
	border-radius: 0px;
	padding: 0;
	position: absolute;
	top: 100%;
}
nav ul ul li {
	float: left;
	position: relative;
	border-bottom: 1px solid #ffffff;
	border-right:none;
	width:392px;
}
nav ul ul li a {
	color: #ffffff;
}
nav ul ul li a:hover {
	color: #0A5278;
	background:#cfcfcf;
	width:82.5%;
	float:left;
}
nav ul ul ul {
	position: absolute;
	left: 100%;
	top:0;
}
ul li.last-child {
	border:none;
}
nav ul ul .last-child {
/*background:url(images/arrow_over.gif) right center no-repeat;*/
}